QMainWindow{
    color: #FFFFFF;
    background-color: #33373B;
}

QHBoxLayout#layer {
    background-color: #2ABf9E;
    padding: 20px;
    font-size: 18px;
    qproperty-alignment: AlignCenter;
    height: 20px;
}
QVBoxLayout#layerMenu {
    background-color: #2ABf9E;
    font-size: 18px;
}

QLabel#image {
    background-color: #2ABf9E;
    border-style: solid;
    border-width: 2px;
    border-color: black;
}

